html {
  font-size: 1em;
  font-family: georgia;
  color: #222222;
	justify-content: center;
  align-items: center;
  width: 98vw;
  height: 98vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #dddddd;
}

.container {
  display: grid;
	width: 80%;
  grid-gap: 0.5vw;
	margin: auto;
  grid-template-columns: 1fr 1fr;
}

.box {
  width: 80%;
  float: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1em;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .box {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .container {
		width: 100%;
    grid-template-columns: 1fr;
  }
  .box {
    width: 95%;
  }
}

.center_t {
  text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
	width: 100%;
 	padding: 5px;
}

a {
  text-decoration: none;
}
a:link {
  color: #b3017e;
}
a:visited{
  color: #177eb3;
}
a:hover {
  color: #25b4ff;
}
