html {
  font-size: 1em;
  font-family: "Trebuchet MS", sans-serif;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-Y: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  display: grid;
  background-color: #d2d2be;
}
