---
layout: default
---
<hr class="red" />
<hr class="yellow" />
<hr class="blue" />
<p></p>

{{ content }}

<p></p>
<hr class="red" />
<hr class="yellow" />
<hr class="blue" />
<p></p>
<p>Now you can go back to <a href="https://rvalla.github.io">home</a> or continue to the
<a href="https://rvalla.github.io/eng/blog_eng/">blog</a>. You can send your
comments and questions to my <a href="mailto:rodrigovalla@protonmail.ch">mailbox</a> too.</p>

<style>
h1.blog{
	color:#393939;
	margin-bottom:0.2em;
}
p.date{
	color:#393939;
	margin-bottom:0.2em;
}
hr.gray {
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	margin-left: auto;
	margin-right: auto;
	height:3px;
	border-width:0;
	background-color:#c6c6c6;
	width:100%;
}
hr.red {
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	margin-left: auto;
	margin-right: auto;
	height:3px;
	border-width:0;
	background-color:#e89494;
	width:100%;
}
hr.yellow {
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	margin-left: auto;
	margin-right: auto;
	height:3px;
	border-width:0;
	background-color:#f7f58c;
	width:100%;
}
hr.blue {
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	margin-left: auto;
	margin-right: auto;
	height:3px;
	border-width:0;
	background-color:#9592df;
	width:100%;
}
img.gray {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: 3px solid #c6c6c6;
  	border-radius: 4px;
 	padding: 5px;
}
img.red {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: 3px solid #e89494;
  	border-radius: 4px;
 	padding: 5px;
}
img.yellow {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: 3px solid #f7f58c;
  	border-radius: 4px;
 	padding: 5px;
}
img.blue {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: 3px solid #9592df;
  	border-radius: 4px;
 	padding: 5px;
}
</style>