---
layout: default
---

{{ content }}

<p></p>
<hr class="red" />
<hr class="yellow" />
<hr class="blue" />
<p></p>
<p>Ahora podés volver a la <a href="https://rvalla.github.io/index_es">página principal</a> o dirigirte al
<a href="https://rvalla.github.io/es/blog_es/">blog</a>. También podés enviarme tus preguntas y
comentarios por <a href="mailto:rodrigovalla@protonmail.ch">mail</a>.</p>

<style>
h1.blog{
	color:#393939;
	margin-bottom:0.2em;
}
p.date{
	color:#393939;
	margin-bottom:0.2em;
}
hr.red {
	margin: 0.2em;
	height:3px;
	border-width:0;
	background-color:#e89494;
	width:100%;
}
hr.yellow {
	margin: 0.2em;
	height:3px;
	border-width:0;
	background-color:#fffd94;
	width:100%;
}
hr.blue {
	margin: 0.2em;
	height:3px;
	border-width:0;
	background-color:#9592df;
	width:100%;
}
</style>