---
layout: default
---
<p style="margin-bottom:0.2em">{{ page.date | date_to_string }}</p>
<hr class="red" />
<hr class="yellow" />
<h1 style="margin-bottom:0.2em">{{ page.title }}</h1>
<hr class="blue" />



{{ content }}


<hr class="red" />
<hr class="blue" />
<hr class="yellow" />


<p>You can add rss feed to your reader app.</p>

<style>
hr.red {
	margin: 0.2em;
	height:3px;
	border-width:0;
	background-color:#e89494;
	width:100%;
}
hr.yellow {
	margin: 0.2em;
	height:3px;
	border-width:0;
	background-color:#fffd94;
	width:100%;
}
hr.blue {
	margin: 0.2em;
	height:3px;
	border-width:0;
	background-color:#9592df;
	width:100%;
}
</style>