---
layout: default
---
<h1>{{ page.title }}</h1>
<h4>{{ page.date | date_to_string }}</h4>

<hr width="90%" size="2" align="center" color="#e89494">
<hr width="90%" size="4" align="center" color="#9592df">
<hr width="90%" size="2" align="center" color="#fffd94">

{{ content }}

<hr width="90%" size="2" align="center" color="#c61317">
<hr width="90%" size="4" align="center" color="#1400b2">
<hr width="90%" size="2" align="center" color="#dddf24">

ljkjhljhl

<hr width="90%" size="2" align="center" color="#d20b07">
<hr width="90%" size="4" align="center" color="#0100d1">
<hr width="90%" size="2" align="center" color="#ffff00">


<p>You can add rss feed to your reader app.</p>