---
layout: default
---
<p class="date">{{ page.date | date_to_string }}</p>
<h1 class="blog">{{ page.title }}</h1>
<hr class="red" />
<hr class="yellow" />
<hr class="blue" />
<p></p>

{{ content }}

<p></p>
<hr class="red" />
<hr class="yellow" />
<hr class="blue" />
<p></p>

<p>If you are interested in the posts I haven't already write here is blog's
<a href="https://rvalla.github.io/feed_eng.xml">rss feed</a>. Feel free to contact me
to </p>

<style>
h1.blog{
	color:#393939;
	margin-bottom:0.2em;
}
p.date{
	color:#393939;
	margin-bottom:0.2em;
}
hr.red {
	margin: 0.2em;
	height:3px;
	border-width:0;
	background-color:#e89494;
	width:100%;
}
hr.yellow {
	margin: 0.2em;
	height:3px;
	border-width:0;
	background-color:#fffd94;
	width:100%;
}
hr.blue {
	margin: 0.2em;
	height:3px;
	border-width:0;
	background-color:#9592df;
	width:100%;
}
img {
  border: 3px solid #e89494;
  border-radius: 6px;
  padding: 5px;
}
</style>